
li .nav-link:hover {
    background-color: #75aaf4;
    color: black !important;
}
.form-group {
    margin-top: 10px !important;

}
.form-group .form-control {
    /* padding-left: 0px; */
    /* border: none !important;
    border-bottom: 2px solid black !important; */
    width: 100%;
}
label {
    font-weight: bold;
}
.keluar:hover {
    background-color: red;
}
.reset,.simpan {
    width: 80%;
}

.dashkrs {
    overflow: auto;
    max-height: 290px;
}
thead {
    box-sizing: border-box !important;
}
.konten , .data-profile{
    overflow-y: auto;
    overflow-x: hidden;
}